body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  .case-details {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .case-number {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .case-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .case-status {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .case-created-by {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .case-created-date {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .case-summary {
    margin-bottom: 20px;
  }
  
  .case-investigator {
    margin-bottom: 20px;
  }
  
  .case-related-persons {
    margin-bottom: 20px;
  }
  
  .case-evidence {
    margin-bottom: 20px;
  }
  
  .case-recovery {
    margin-bottom: 20
  }